@model IEnumerable<Blog_du_lịch.Models.Travel>
<link rel="stylesheet" href="~/lib/font/themify-icons-font/themify-icons/themify-icons.css">

@{ ViewData["Title"] = "Travels in Việt Nam"; }
@*-------------------------The first introduction-----------------------------*@
<style>
    .box {
        color: white;
    }
</style>

<div class="Main-brand">
    <div class=" Main-brand_intro">
        <div class="brand-icon">
            <i class="Main-brand-icon ti-layout-grid2-alt"></i>
        </div>
        <div class="bran-title">
            <span class="Main-brand-text"> DU LỊCH AN TOÀN </span>
            <span> Nâng cao sức khỏe , cân bằng cuộc sống </span>
        </div>
    </div>
    <div class=" Main-brand_suggest">

        <div class="brand-icon">
            <i class="Main-brand-icon ti-world"></i>
        </div>
        <div class="bran-title">
            <span class="Main-brand-text"> TRẢI NGHIỆM KÌ NGHỈ TUYỆT VỜI </span>
            <span> Lên rừng xuống biển. Trọn vẹn Việt Nam </span>
        </div>
    </div>
    <div class=" Main-brand_contact">
        <div class="brand-icon">
            <i class="Main-brand-icon ti-headphone-alt"></i>
        </div>
        <div class="bran-title">
            <span class="Main-brand-text">HOTLINE TƯ VẤN  </span>
            <span class="tranthang" ><a href="tel:+84 1909001">(+84) 1909001</a> </span>
        </div>
    </div>
</div>

<script>
    var numberMove = document.querySelector(".Main-brand_contact span a ");
    console.log(numberMove);
    setInterval(() => {
        numberMove.classList.toggle('box');
    }, 1000);
</script>
@*-------------------------The first introduction-----------------------------*@
<table class="table">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Name)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descriptions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emotions)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a asp-route-id="@item.Id" asp-action="Details">@item.Name</a>
            </td>
            <td>
                @item.Adress
            </td>
            <td>
                @item.Year
            </td>

            <td>
                @item.Descriptions
            </td>
            <td>
                @item.Emotions
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info"> Chi tiết </a>
            </td>
        </tr>
}
        <tr><td colspan="10">Sum: @Model.Count()</td></tr>
    </tbody>
</table>
